/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 3s ease, padding 3s ease;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h1 {
    font-size: 24px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Section */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image.jpeg');
    background-size: cover;
    background-position: center;
}

.welcome-message {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.welcome-message h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome-message p {
    font-size: 20px;
}

h2{
    font-size: 24px;
    margin-left: 20px;

}

